/* #navdiv1{
  
   
    
} */
#btndiv1{
    margin-left: 1200px;
    
}
#container{
    border-color: grey;

}
.footer{
   
    background-color: rgb(16, 15, 14);
    margin-top: 230px;
    position: absolute;
    width: 100%;
    height: 400px;
    
  }
  .Footer-css{
    

  }